body {
    /*background: #FCEEB5;*/
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    /*background-image: linear-gradient(45deg, rgb(20, 222, 124) 0%, rgb(20, 222, 124) 21%,rgb(25, 190, 119) 21%, rgb(25, 190, 119) 37%,rgb(30, 158, 113) 37%, rgb(30, 158, 113) 46%,rgb(35, 126, 108) 46%, rgb(35, 126, 108) 53%,rgb(39, 94, 103) 53%, rgb(39, 94, 103) 59%,rgb(44, 62, 97) 59%, rgb(44, 62, 97) 77%,rgb(49, 30, 92) 77%, rgb(49, 30, 92) 100%);*/
    font-family: Roboto, Arial, Verdana, sans-serif;
}

.mobile-header {
    width: 100%;
    display: none;
    background-color: red;
}
.mobile-home, .mobile-back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.mobile-back {
    display: none;
}
.mobile-back-btn {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid snow;
    border-radius: 50%;
    color: snow;
    font-size: 5vh;
    width: 7vh;
    height: 7vh;
}
.mobile-header .mobile-home-btn {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 15px;
}
.mobile-home .mobile-home-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 3px solid snow;
    font-size: 5vh;
    width: 7vh;
    height: 7vh;

    border-radius: 50%;
    color: snow;
}
.mobile-header p {
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
    font-size: 22px;
    color: snow;
}

.home-btn {
    position: fixed;
    left: 20px;
    top: 20px;
}
.home-btn a {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 50%;
    font-size: 40px;
    color: snow;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
}
.panel-container {
    width: 70vw;
    min-height: 80vh;
    display: flex;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}
.select-panel {
    flex-grow: 1;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    align-content: center;
    justify-content: center;
}
.grid-select-item {
    background-color: blue;
    border-radius: 6px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.selected-item {
    background-color: navy;
    color: snow;
}
.grid-first, .grid-second, .grid-third {
    grid-column: span 4;
}
.grid-fourth, .grid-five {
    grid-column: span 6;
}
.grid-select-text-item {
    padding: 20px 0;
    position: relative;
    /*Центрирование текста по вертикали*/
    top: 50%;
    transform: translateY(-50%);

}
.grid-select-text-item h1 {
    margin: 0;
    font-size: 72px;
}
.grid-select-text-item p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.grid-select-text-item-btn {
    padding: 20px 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.grid-select-text-item-btn p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.hover-panel {
    height: 100%;
    width: 0;
    transition: width 1.4s;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background-color: red;
    overflow: hidden;
    position: absolute;
    z-index: 2;

    top: 0;
    left: 0;
    display: flex;
}
.hover-panel-left {
    background-color: aqua;
    border-radius: 6px 0 0 6px;
    /*width: 200px;*/
    width: 25vw;
}
.back-btn {
    margin: 15px;
    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid snow;
    border-radius: 50%;

    font-size: 22px;

    color: snow;
}
.hover-panel-right {
    background-color: lightblue;
    border-radius: 0 6px 6px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 45vw;
}
.characters-panel {
    background-color: crimson;
    flex-grow: 1;

    width: 45vw;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.characters-panel::-webkit-scrollbar{
    width: 12px;
/*    background-color: yellow;*/
/*    border: 1px solid black;*/
/*border-radius: 6px;*/
    background-color: transparent;
}

.characters-panel::-webkit-scrollbar-thumb{
    border-radius: 6px;
    /*background:linear-gradient(transparent, deeppink);*/
    background-color: deeppink;
}


.hiragana-panel, .katakana-panel, .kanji-panel {
    width: 45vw;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    min-height: 100%;
    padding:0 15px 15px;
    box-sizing:border-box;
}
.hiragana-panel {
    background-color: crimson;
}
.kanji-panel{
    align-items: center;
    padding: 0;
}
.hide-panel {
    display: none;
}

.accordion {
    width: 90%;
    /*max-width: 1000px;*/
    /*margin: 2rem auto;*/
}
.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 10%;
    /*line-height: 1.25rem;*/
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-item-header h1{
    /*margin: 0;*/
}
.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after {
    content: "\2212";
}
.section-arrow-item{
    margin-right: 15px;
    width: 10%;
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    /*padding: 1rem;*/
    padding-bottom: 15px;
    /*line-height: 1.5rem;*/
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
.accordion-item-body-content .char-item{
    width: 12.5%;
}
.accordion-item-body-content .arrow-item{
    margin-left: 12px;
}

.char-row {
    display: flex;
    justify-content: center;

    padding-top: 15px;
}
.arrow-item{
    margin-right: 15px;
    width: 10%;
    /*height: 75px;*/
    /*min-width: 50px;*/
}
.arrow-item:hover{
    background-color: green;
}
.char-item {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: blue;
    border-radius: 6px;
    /*box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);*/
    text-align: center;
    width: 10%;
    /*height: 75px;*/
    /*min-width: 50px;*/
}
/*.char-item:hover {*/
/*    background-color: navy;*/
/*    color: snow;*/
/*}*/
.selected-char-item {
    background-color: navy;
    color: snow;
}
.char-item h1 {
    margin: 0;
    margin-top: 10px;
    

}
.char-item p {
    margin: 0;
    margin-bottom: 10px;
}


.mobile-hover-panel-menu {
    height: 10vh;
    display: none;
    background-color: red;

    border-radius: 30px 30px 0 0;
    width: 100vw;

    justify-content: space-around;
    z-index: 2;
}
.mobile-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
}
.mobile-menu-item:hover svg {
    fill: snow;
}
.mobile-menu-item:hover p {
    color: snow;
}
.mobile-menu-item svg {
    width: 5vh;
    height: 5vh;
}
.mobile-menu-item p {
    margin: 3px 0 0;
}
.mobile-settings-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 0;

    background-color: coral;
    transition: height 1.4s;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
}

@media screen  and (max-width: 978px) {
    /*.panel-container {*/
    /*    width: 80vw;*/
    /*}*/
    /*.characters-panel{*/
    /*    width: 55vw;*/
    /*}*/



    .home-btn {
        top: 10px;
        left: 10px;
    }

    .home-btn a {
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    .select-panel {
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .hover-panel-left{
        width: 10vw;
    }

    .hover-panel-left .back-btn{
        margin: 10px;
    }

    .hover-panel-right, .characters-panel, .hiragana-panel, .katakana-panel, .kanji-panel{
        width: 60vw;
    }

    .arrow-item,.char-item{
        margin-right: 10px;
        width: 12%;
    }
    .char-item h1{
        font-size: 1.5em;
    }
    .char-item p{
        font-size: 0.75em;
    }

    .grid-first, .grid-second, .grid-third {
        grid-column: span 12;
    }

    .grid-select-text-item {
        display: flex;
        align-items: center;
        padding-left: 15px;
    }

    .grid-select-text-item h1 {
        font-size: 60px;
        margin-right: 15px;
    }

    .grid-select-text-item p {
        font-size: 24px;
        margin-top: 0;
    }

    .grid-select-text-item-btn p {
        font-size: 24px;
    }

}
@media screen  and (max-width: 600px) {
    /*.arrow-item{*/
    /*    min-width: 40px;*/
    /*}*/
    /*.char-item{*/
    /*    height: 60px;*/
    /*    margin-right: 10px;*/
    /*    min-width: 40px;*/
    /*}*/

    .home-btn {
        display: none;
    }

    .center {
        min-height: 90vh;
    }

    .panel-container {
        min-height: 90vh;
        margin: 0;
        width: 100%;
    }

    .mobile-header {
        display: flex;
        /*justify-content: center;*/
        align-items: center;

    }

    .select-panel {
        margin: 15px;
    }

    .hover-panel {
        border-radius: 0;
    }

    .hover-panel-left {
        display: none;
    }

    .hover-panel-right {
        border-radius: 0;
        /*width: 100vw;*/
    }
    .characters-panel{
        width: 100vw;
    }

    .hiragana-panel, .katakana-panel, .kanji-panel {
        width: 100vw;
    }
    .section-arrow-item{
        width: 10vw;
    }
    .arrow-item{
        margin-right: 15px;
    }
    .char-item{
        margin-right: 12px;
        width: 12%;
    }
    .char-item h1{
        margin-top: 10px;
        font-size: 7vw;
    }
    .char-item p{
        margin-bottom: 10px;
        font-size: 4vw;
    }

    .mobile-hover-panel-menu {
        display: flex;
    }
}
@media (max-width: 600px) and (orientation: landscape) {
    .mobile-home, .mobile-back {
        height: 10vw;
    }

    .mobile-back-btn, .mobile-home .mobile-home-btn a {
        font-size: 5vw;
        width: 7vw;
        height: 7vw;
    }

    .mobile-hover-panel-menu {
        height: 10vw;
    }

    .mobile-menu-item svg {
        width: 5vw;
        height: 5vw;
    }
}
